span {
	position: absolute;
}

#page {
	width: 1240px;
	height: 700px;
	left: 50%;
	transform: translate(-50%, 0%);
}

#background {
	top: -165px;
	left: 50%;
	transform: translate(-50%, 0%);
}

#content {
	width: 1240px;
	height: 700px;
}
#content div {
	width:100%;
}
#content #landing {
	height:624px;
}
#content #logo {
	left: 50%;
	transform: translate(-50%, 0%)
}
#content #links {
	top: 340px;
	left: 50%;
	width: 100%;
	height: 62px;
	transform: translate(-50%, 0%);
}

#content #links .bar {
	background-color: white;
	height: 1px;
	width: 100%;
}

#content #links #link_bar_bottom {
	top: 99%;
}

#content #links .link_btn {
	top: 5%;
	height: 90%;
	width: 15%;
	text-align: center;
	line-height: 55px;
	font-weight: 600;
	cursor: default;
}

#content #links .link_btn:hover {
	color: black;
	background-color: white;
}

#content #links #link_about {
	left:1%
}
#content #links #link_menu {
	left:17.6%
}
#content #links #link_location {
	left:34.3%
}
#content #links #link_bookings{
	left:51%
}
#content #links #link_gallery {
	left:67.6%
}
#content #links #link_contact {
	left:84.3%
}
.link_btn {
	color: white;
	font-family: Arial, Sans-serif;
}

#content #social {
	top: 455px;
	left: 50%;
	width: 184px;
	transform: translate(-50%, 0%);
}
#content #social img{
    position: absolute;
}
#content #social img.twitter {
    left:70px;
}
#content #social img.instagram {
    left:140px;
}

#content #content1 {
	height:600px;
	background-color:white;
}

